# Data Wrangling

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import os
mainPath = "/home/user/projectAnacoda/python-course-ml/python-ml-course/datasets/"
filename = "customer-churn-model/Customer Churn Model.txt"
file = os.path.join(mainPath, filename)

In [5]:
data = pd.read_csv(file)
data.columns.tolist()

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

# Crear un subconjunto

In [9]:
account_length = data["Account Length"]

In [23]:
subData = data[["Account Length",'Phone', 'Eve Charge', 'Day Calls', ]]
subData.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [45]:
data3 = data[(data["Day Mins"]>300) & (data['State']=='NY')]
data3.shape

(2, 21)

In [46]:
data3

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
985,NY,64,415,345-9140,yes,no,0,346.8,55,58.96,...,79,21.21,275.4,102,12.39,13.3,9,3.59,1,True.

In [47]:
data3

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
985,NY,64,415,345-9140,yes,no,0,346.8,55,58.96,...,79,21.21,275.4,102,12.39,13.3,9,3.59,1,True.

In [48]:
data4 = data.iloc[:5, :4]

In [49]:
data4

  State  Account Length  Area Code     Phone
0    KS             128        415  382-4657
1    OH             107        415  371-7191
2    NJ             137        415  358-1921
3    OH              84        408  375-9999
4    OK              75        415  330-6626

In [50]:
data[:4]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.

In [52]:
data4 = data.loc[:5, 'Phone':'Day Mins']
data4

      Phone Int'l Plan VMail Plan  VMail Message  Day Mins
0  382-4657         no        yes             25     265.1
1  371-7191         no        yes             26     161.6
2  358-1921         no         no              0     243.4
3  375-9999        yes         no              0     299.4
4  330-6626        yes         no              0     166.7
5  391-8027        yes         no              0     223.4

In [54]:
data5 = data.loc[:5, ['Phone','Day Mins']]
data5

      Phone  Day Mins
0  382-4657     265.1
1  371-7191     161.6
2  358-1921     243.4
3  375-9999     299.4
4  330-6626     166.7
5  391-8027     223.4

In [39]:
subset_first_50 = data[['Day Mins','Night Mins', 'Account Length']][:50]
subset_first_50.head()

   Day Mins  Night Mins  Account Length
0     265.1       244.7             128
1     161.6       254.4             107
2     243.4       162.6             137
3     299.4       196.9              84
4     166.7       186.9              75

# Generar numeros aleatorios

In [11]:
#Numero aleatorios de 1 a 100.
np.random.randint(1,100)

73

In [14]:
#Numero aleatorios de 0 a 1 con decimales
np.random.random()

0.30329558421835334

In [16]:
random_values = [np.random.randint(1,50) for i in range(25)]

In [19]:
import random
random.randrange(0,100,7)

14

# Aleatorio con shuffle (Cambiar los valores)

In [27]:
a = list(range(0,100)) # np.arange(100)
np.array(a)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [28]:
np.random.shuffle(a) # Barajeo
np.array(a) # Transfor,a lista a array.

array([98, 86, 51, 77, 22, 63, 37,  5, 39, 64, 17,  6, 26, 57, 25, 41, 10,
       18, 47, 78, 93, 45, 44, 53, 65, 31, 61, 81, 76, 20, 21, 89, 28, 79,
       92, 40, 27, 62, 33, 54, 56, 80, 32, 75, 82, 84, 67, 34, 30, 74, 13,
       48, 42, 97, 49, 91, 83,  8, 72, 68, 50, 23, 90, 95,  7, 94,  1, 60,
       71, 69, 11, 66,  4, 96, 29, 14,  2, 52, 70,  0, 87,  9, 43, 38, 12,
       88, 58, 73, 99,  3, 46, 16, 55, 15, 59, 35, 24, 85, 19, 36])

# Choice elegir un valor a la azar.

In [36]:
columns_list = data.columns.values.tolist()
np.array(columns_list)

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype='<U14')

In [38]:
np.random.choice(np.array(columns_list))

'Intl Charge'

# Seed

In [40]:
np.random.seed(2018)
lst = [np.random.random() for i in range(5)]
lst

[0.8823493117539459,
 0.10432773786047767,
 0.9070093335163405,
 0.3063988986063515,
 0.446408872427422]